/* SignupPage.js */
.main{
  margin: auto;
  height: auto;
  width: 480px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.formInputs{
  display: flex;
  flex-direction: column;
  
}


/* SignupInputs.js */

input{
  margin: 8px;
  padding: 10px;
  border: solid white;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  font-size: 16px;
}
input:invalid[focused="true"]{
  border: 1px solid orange;
}
input:invalid[focused="true"] ~ span{
  display: block;
}
span{
  font-size: 14px;
  padding: 3px;
  color: orange;
  display: none;
}
button{
  margin-top: 10px;
}

/* SignupHeading.js */